In [30]:
import pandas as pd

In [31]:
censo = pd.read_csv(r'C:\Users\kelvyn.candido\Desktop\ESTUDOS\DataScience-AnaliseExploratoria\Dataset\Censo\brasil_e_ufs.csv', sep=';')
censo.columns = censo.iloc[0]
censo = censo[1:].reset_index(drop=True)

censoPopulacao = pd.read_csv(r'C:\Users\kelvyn.candido\Desktop\ESTUDOS\DataScience-AnaliseExploratoria\Dataset\Censo\estimativa_dou_2024.csv', sep=';')
censoPopulacao.columns = censoPopulacao.iloc[0]
censoPopulacao = censoPopulacao[1:].reset_index(drop=True)

In [32]:
censoPopulacao.head()

,UF,COD. UF,COD. MUNIC,NOME DO MUNICÍPIO,POPULAÇÃO ESTIMADA,NaN,NaN,NaN,NaN,NaN,NaN
0,RO,11,00015,Alta Floresta D'Oeste,22.853,NaN,NaN,NaN,NaN,NaN,NaN
1,RO,11,00023,Ariquemes,108.573,NaN,NaN,NaN,NaN,NaN,NaN
2,RO,11,00031,Cabixi,5.690,NaN,NaN,NaN,NaN,NaN,NaN
3,RO,11,00049,Cacoal,97.637,NaN,NaN,NaN,NaN,NaN,NaN
4,RO,11,00056,Cerejeiras,16.975,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
censo.head()

0 BRASIL E UNIDADES DA FEDERAÇÃO POPULAÇÃO ESTIMADA  NaN  NaN  NaN
0                         Brasil        212.583.750  NaN  NaN  NaN
1                          Norte         18.669.345  NaN  NaN  NaN
2                       Rondônia          1.746.227  NaN  NaN  NaN
3                           Acre            880.631  NaN  NaN  NaN
4                       Amazonas          4.281.209  NaN  NaN  NaN